* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
   
} 

html {
        width: 100vw;
        height: 100vh;    
        font-size: 1vw;    
}

section{
        margin-top: 1vh;
        
}


.alert {
        position: fixed;
        top: 10%;
        right: 1%;
        padding: 5px 20px;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        justify-content: center;
        text-align: center;
        row-gap: 10vh;
        border-radius: 10px;
        box-shadow: 0 0 5px rgb(92, 33, 105);
        background-color: rgb(155, 111, 163);
        border: 2px solid rgb(122, 60, 134);
      }
                
      .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      .closebtn:hover {
        color: black;
      }

.container {
display: flex;
flex-direction: column;
text-align: center;
border: none;
padding: 0%;
margin: 0;
}

.choixdates{
background-color: black;
color: rgb(255, 255, 255);
width: 50%;
font-size: 1rem;
padding: 4% 2%;
border: 0;
text-align: center;
}
.rockvideo{

display: flex;
justify-content: center;
}

.navbar {
background-color: black;
width: 100%;
height: auto;
display: flex;
justify-content: left;
position: fixed;
z-index: 50;
-webkit-box-shadow: 0px 13px 11px 5px rgba(0,0,0,0.89); 
box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.89);
}
.navbox {
width: 4%;
height: auto;
text-align: center;
font-size: 0.8rem;
padding: 10px 0px;
color: rgb(253, 253, 253) ;
background-color: rgb(0, 0, 0) !important;
text-decoration: none;
font-family: 'Trebuchet MS';
       }

.navbox:hover{
background-color: rgb(188, 189, 190) !important;
}


.home{
         
position: relative;
border: none;
width: 100%;
display: flex;
font-family: 'Trebuchet MS';
color: aliceblue !important;
font-size: 2rem;
justify-content: center; 
align-items: center;     
}

.hometxt{
        position: absolute;
        bottom: 2%;
        font-size : 0.8rem;
       }

.chicago{
        width: 80%;
}

.wrap{
        display: flex; 
        flex-direction: column; 
        align-items: center;
        row-gap: 6vh;
}

.wrap1 {
        display: flex; 
        flex-direction: column;
        align-items: center;
        
        row-gap: 2vh;
}

.band {
   
position: relative;
display: flex;
justify-content: center;
padding: 4% 20%;   
font-size: 1rem;
text-align: justify;   
gap: 10%;

       }

.bandTxt{
        
        font-size: 0.8rem;
        width: 50%;
        font-weight: bold;
        
}

.namesbox {
display: flex;
justify-content: space-around;
width: 60%;
}

.nameP {
position: relative;
width: 6vw;
border-radius: 5px;
}

.contact{
text-align: center;
}


table, th, td {
border: 1px solid rgba(116, 109, 109, 0.151);
background-color: rgb(255, 255, 255);
color: gray;
padding: 10px;
       }

table {
margin: auto;
border-collapse: collapse;
width: 100%;
height: 100px;
text-align: left;
}


.soldout {
color: white;
background-color:  #f44336;

}

.contain2 {
object-fit: cover;
height: 50%;
width: 100%;
border: none;
}

.city{
 background-color: white;
border: none;
padding-bottom: 0;
width: 30%;
justify-content: left;    
height: 20vw;  
}

.cities{

display: flex;
justify-content: space-between;

padding: 5% 8%;
margin: 0 10%;
}

.cityt{
position: relative;
background-color: aliceblue;
width: 30%;
font-size: 1rem;
row-gap: 20vw;
text-align: left;
padding-bottom: 5%;
        }

.butt {
background-color: black;
color: aliceblue;
font-size: 1rem;
padding: 4% 5%;
border: 0;
border-radius: 2%;
}
.butt:hover{
background-color: gray !important;
cursor: pointer;
}

video {
max-width: 100%;
height: auto;

}

.tour{
 display: flex;
flex-direction: column;
justify-content: space-around;
background-color: rgb(0, 0, 0);
padding: 0% 10%;

}

.tourDates{
        line-height: 4vw;
}

.tourx{
margin: 0 18%;
justify-content: space-between;
height: auto;
        }



.conta {
text-align: justify;
padding: 4% 0%;
border: none;
width: max-content;

}

.confor{
border: none;
flex-direction: row;
display: flex;
justify-content: center;

}
.contxt{
border: none;

}    
.formul{
border: none;
width: 50%;
padding: 5% 0%;
line-height: 1vw;

        }
.message{
width: 55%;
height: 2vw;
padding: 2% 0;
font-size: 1rem;
}

.input1{
        width: 25%;
        padding: 1%;
        height: 1.4vw;
}

input{

width: auto;
border: 1px solid rgb(0, 0, 0);
padding-left: 2%;
color: rgb(139, 134, 134);
font-size: 12px;
padding: 1%;
}

.socialn{
display: flex;
padding: 5% 20%;
color: gray;
align-items: center;
justify-content: center;

}

.cityX{
        padding-left: 2%;
        line-height: 2vw;
      
}


.icon{
width: 80%;
 margin: 1%;
}

.tick{

display: flex;
position: fixed;
padding-top: 20%;
padding-left: 40%;
}
.icon2{
height: 14px;

}
.butt2{
background-color: black;
color: aliceblue;
border: none;
padding: 2%;
}
.butt2:hover{
background-color: gray !important;
cursor: pointer;
}
.send{
padding-left: 51%;

}

.date{
color: grey;
}

@media  screen and (max-width: 1000px) {
        
     .navbox {
width:20%;
font-size: 3rem;
       }

       .home{
        position: relative;
        font-size: 2rem;
}

.band {
        
        justify-content: space-around;
        padding: 5% 0%;   
        font-size: 3rem; 
        
               }

               .bandTxt{
                font-size: 2rem;
               
               }

               .tour{
               padding: 5% 2%;
               font-size: 3rem;
               row-gap: 2rem;
               }

               .tourDates{
                line-height: 100%;
        }

        .nameP{
                width: 70%;
        }
        .namesbox{
                display: flex;
                text-align: center;

        }
        
.city{
       width: 50%;
       justify-content: left;    
       }

       .cities{
                padding: 10% 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 1%;
                margin: 0;
                padding-top: 0;
       }

       .cityt{
       line-height: 20px;
        font-size: 2rem;    
        width: 50%;      
                }

                .cityX{
                        padding-left: 2%;
                        line-height: 5vw;
                }

             .choixdates{
                font-size: 2rem;
             }
             .butt{
                font-size: 2rem;
             }
             .contxt{
                font-size: 3vw;
             }
             .message{
                font-size: 2vw;
                width: 86%;
             }

             .abc{
                font-size: 2rem;
             }
             .input1{
                width: 40%;
                padding: 1%;
                height: 3vw;
        }

        h2{
                margin-bottom: 5%;
        }
 .tourx{
        margin-bottom: 0;
 }

}